.navbar {
  .navbar-brand {
    span {
      padding-right: 20px;
    }

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
  }
}
.nav {
  font-family: 'Lato', sans-serif;
  li {
    padding-top: 20px;
    font-weight: 400;

    a {
      transition: color .2s ease-out, color .2s ease-in;

      &:hover {
        color: black;
      }
    }
  }
}

.three {
  margin-left: 2px;
}

.navbar-header {
  button {
    padding-top: 25px;
  }
}
